@import "../global/variables";

.coder1{


    .businesses{
        

        section:not(#business){
            h3{
                font-size: 28px;
                margin: 36px 0 ;
                display: flex;
                gap: 24px;
                justify-content: center;
                align-items: center;
                img{
                height: 48px;
    
                }
                br{
                display: none;
                }
            }

        }




    


        h4{
            font-size: 20px;
            text-align: center;
            margin-bottom: 36px;
        }
  
        .businesses-images{
          padding: 0 24px;
          .inner{
            display: flex;
            gap: 36px;
            img{
              width: calc((100% - 72px )/ 3);
            }
          }
        }

        .contact{
            margin-bottom: 64px;
        }

        #businesses-flow{
            padding-top: 48px;
            margin-bottom: 100px;
            ul{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 100%;
                    border-radius: 6px;
                    background: $tag-font;
                    left: 105px;
                }
                li{
                    display: flex;
                    gap: 32px;
                    margin-bottom: 50px;
                    time{
                        display: block;
                        font-size: 20px;
                        padding-top: 24px;
                        font-weight: bold;
                        line-height: 30px;
                        width: 64px;
                    }
                    span{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        background: $tag-font;
                        margin-top: 24px;
                    }
                    .text{
                        background: $tag-bg;
                        border-radius: 18px;
                        padding: 24px 10px;
                        width: calc(100% - 186px );
                        h5{
                            font-size: 20px;
                            color: $tag-font;
                            margin-bottom: 18px;
                        }
                        p{
                            line-height: 24px;
                        }
                    }
                }
            }
        }


        .businesses-inner{
            max-width: 820px;
            width: calc(100% - 48px);
            margin: 0 auto;
            dl:not(.employment-dl){
            margin-bottom: 64px;
                div{
                    line-height: 24px;
                    padding: 24px 0;
                    dt{
                        font-size: 20px;
                        margin-bottom: 8px;
                        font-weight: bold;
                    }
                    dd{
                        font-size: 18px;
                    }
                    &:not(:last-child){
                        border-bottom: 1px dashed $tag-font;
                    }
                }
            }    
        }

        #businesses-about{
            h4{
                font-size: 20px;
                text-align: center;

            }
        }

        .about-outer{
            max-width: 670px;
            padding: 0 24px;
            margin: 0 auto;
            line-height: 32px;
            margin-bottom: 48px;
        }


        #using{
            margin-bottom: 64px;
            .businesses-inner{
                ul{
                    border-top: 1px dashed $tag-font;
                    li{
                        border-bottom: 1px dashed $tag-font;
                        display: flex;
                        align-items: center;
                        padding: 32px 0;
                        gap: 24px;
                        span{
                            font-size: 24px;
                        }
                        .text{
                            h5{
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                            p{
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }


        @media (max-width:660px) {

            .lower-keyvisual{
                .text{
                    bottom: 64px;
                }
            }


            section:not(#business){
                h3{
                    font-size: 20px;
                    line-height: 32px;
                    gap: 12px;
                    br{
                    display: block;
                    }
                }
            }


    
            .businesses-images{
                .inner{
                flex-direction: column;
                    img{
                        width: 100%;
                    }
                }
            }

            
            #businesses-flow{
                margin-bottom: 60px;
                ul{
                    gap: 10px;
                    &::before{
                        left: 83px;
                    }
                    li{
                        gap: 10px;
                        .text{
                            width: calc(100% - 134px);
                        }
                    }

                }
            }
        }
  
    }
}