
@import "../global/variables";


.coder1{
    .continuations{
        display: flex;
        gap: 24px;
        margin-bottom: 90px;
        justify-content: center;
        .continuation{
          margin: 0;
        }
        @media (max-width:660px) {
            
            flex-direction: column;
            .continuation{
                margin: 0 auto;
            }
        }
    }
}