
@import "../global/variables";

.coder1{

    footer{
        position: relative;
        .contact{
          position: absolute;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
        }
        .cityscape{
          background-image: url(../img/footer-cityscape.png);
          background-position: right;
          height: 110px;
          background-repeat: repeat-x;
        }
        .footer-main{
          background: $tag-bg;
          padding: 114px 24px;
          .text{
            display: flex;
            justify-content: space-between;
            max-width: 820px;
            margin: 0 auto;
            .company{
              h2{
                display: block;
                font-size: 20px;
                margin-bottom: 16px;
                color: #000;
                letter-spacing: 0;
              }
              address{
                font-style: normal;
                line-height: 20px;
                margin-bottom: 12px;
                font-size: 14px;
              }
            }
            nav{
              display: flex;
              width: 480px;
              justify-content: space-between;
              ul{
                li{
                  line-height: 26px;
                  font-family: sans-serif;
                  font-size: 14px;
                }
              }
              & > ul{
                li{
                  a{
                    color: #000;
                    &:hover{
                      color: $tag-font;
                    }
                  }
                }
              }
              .businesses{
                ul{
                  li{
                    font-size: 12px;
                    a{
                      color: $font;
                      &:hover{
                        color: $tag-font;
                      }
                    }
                  }
                }
              }
              .buttons{
                .button{
                  margin-bottom: 24px;
                }
              }
            }
          }
        }
        .copyright{
          display: block;
          text-align: center;
          font-size: 14px;
          padding: 10px 0 20px;
        }
        
        @media (max-width: 800px) {
          .contact{
            position: relative;
            margin: 0;
          }
          .footer-main{
            padding: 46px 64px;
            .text{
                flex-direction: column-reverse;
                .company{
                display: inline-block;
                margin: 0 auto;
                }
                nav{
                width: auto;
                & > :not(.buttons){
                    display: none;
                }
                .buttons{
                    margin: 0 auto;
                }
              }
            }
          }
        }
    }
    
     
}