@import "../global/variables";

.new_journal{
    max-width: 800px;
    margin: 0 auto;
    ul{
        li{
            a{
                display: flex;
                gap: 36px;
            }
        }
    }

    @media(max-width:660px){
        ul{
            li{
                a{
                    flex-direction: column;
                    align-items: center;
                    padding: 0 24px;
                    .text{
                        .upper,
                        .lower{
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}