
@import "../global/variables";


.outer{
    text-align: center;
    .lower-h2{
        font-size: 28px;
        display: inline-block;
        margin-bottom: 50px;
        border-bottom: 2px solid $tag-font;
        font-weight: normal;
        padding-bottom: 12px;
        br{
          display: none;
        }
        @media(max-width:660px){
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 36px;
            padding-bottom: 8px;
            br{
              display: block;
            }
    
        }
    }

}


.genre-icon{
  color: #fff;
  display: inline-block;
  background: $tag-font;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 0 12px 0 12px;
  margin-bottom: 12px;
}
  .time{
    &::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url(../img/icon/time_icon.png);
    background-repeat: no-repeat;
    background-size:16px;
    background-position:1px 0;
    vertical-align: middle;
    }
  }


.coder1{
  color: $font;
  font-family: 'Zen Maru Gothic',sans-serif;
  position: relative;
  padding-top: 135px;
  
  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
    &::-webkit-scrollbar{
      display: none;
    }
  
    .inner{
      max-width: 1140px;
      margin: 0 auto;
    }
    .wrapper{
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    .headline{
      margin: 0 auto 36px;
      font-size: 22px;
      font-weight: bold;
      display: flex;
      max-width: 475px;
      justify-content: space-between;
      align-items: center;
      span{
        display: block;
        letter-spacing: .5em;
        margin-left: -.25em;
      }
      img{
        height: 45px;
      }
    }
  
    .hidden{
      display: none;
    }
  
    a{
      text-decoration: none;
    }
    .tel{
      a{
        text-decoration: none;
        font-weight: bold;
        color: #000;
        display: flex;
      }
      span{
        font-size: 14px;
        display: block;
      }
    }
  
    .tag{
      text-decoration: none;
      display: block;
      text-align: center;
      color: $tag-font;
      background-color: rgb(230, 239, 244);
      transition: transform .3s;
      img{
        margin-bottom: 3px;
      }
      span{
        display: block;
        font-weight: bold;
      }
    }
  
  
    .button{
      font-size: 14px;
      color: #fff;
      background: $tag-font;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 8px 10px;
      border-radius: 0 10px 0 10px;
      transition: border-radius .3s;
      &:hover{
        border-radius: 10px 0 10px 0;
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
    .continuation{
      display: block;
      margin: 0 auto;
      padding: 12px 0;
      width: 212px;
      text-align: center;
      border: 1px solid $tag-font;
      color: $font;
      border-radius:0 12px 0 12px;
      transition: border-radius .3s,background .3s;
  
      .color{
        color: $tag-font;
      }
  
      &:hover{
        background: $tag-bg;
        border-radius: 12px 0 12px 0;
      }
    }
  
    h3{
      text-align: center;
      font-size: 20px;
      font-weight: normal;
    }
  
    .white-inner{
      background: #fff;
      border-radius: 20px;
      max-width: 980px;
      width: calc(100% - 96px);
      margin: 0 auto;
      padding: 0 24px;
    }
  
    .directory{
      padding: 70px 24px;
      font-size: 18px;
      a{
        color: $tag-font;
      }
      :nth-child(2){
        color: $tag-font;
      }
    }

    .lower-keyvisual{
      position: relative;
      overflow-x: hidden;
      max-width: 1280px;
      margin: 0 auto;
      .sp{
        display: none;
      }
      .text{
        position: absolute;
        max-width: 660px;
        width: 100%;
        height: 134px;
        right: 0;
        top: 110px;
        background-color: rgba($color: $tag-bg, $alpha: .8);
        align-items: center;
        display: flex;
        p{
          margin: 0 auto;
          display: inline-block;
          text-align: left;
          line-height: 36px;
          span{
            color: $tag-font;
          }
        }
      }
    }
    






    .access{
      color: #000;
      font-size: 14px;
      span{
        transition: transform .3s;
        display: inline-block;
      }
      &:hover{
        span{
          transform: translateX(6px);
        }
      }
    }


    .ecclesia--list{
      display: flex;
      gap: 60px;
      flex-wrap: wrap;
      justify-content: center;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 64px;
      .style{
        display: block;
        width: 200px;
        margin: 0;
        height: 0;
        padding: 0;
      }
    }

    .pdf{
      a{
        color: $font;
        .text{
          line-height: 24px;
          .upper{
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 16px;
            time{
              &::before{
                display: none;
              }
            }
            .new_icon{
              color: #fff;
              background: $tag-font;
              font-size: 12px;
              justify-content: center;
              display: flex;
              align-items: center;
              height: 16px;
              width: 32px;
            }
          }
          .lower{
            display: flex;
            gap: 8px;
            span{
              display: block;
            }
            .number{
              font-size: 24px;
              color: $tag-font;
              text-decoration: underline;
            }
            img{
              width: 20px;
            }
          }
          p{
            padding-top: 24px;
            line-height: 24px;
          }
        }

      }
    }



  


  
    @media(max-width: 800px){
      padding-top: 100px;
    }
    @media (max-width:660px) {
      .headline{
        max-width: calc(100% - 56px);
        img{
          height: 36px;
        }
        span{
          letter-spacing: .25em;
          margin-left: -.125em;
        }
      }
  
      .directory{
        display: none;
      }
  
      .lower-keyvisual{
        height: calc(100dvh - 176px);
        overflow: hidden;
        .text{
          height: auto;
          padding: 22px 36px;
          width: calc(100% - 72px);
          top: auto;
          bottom: 0;
        }
        .pc{
          display: none;
        }
        .sp{
          display: block;
          width: 100%;

        }
      }



      .ecclesia--list{
        flex-direction: column;
        gap: 36px;
        .style{
          display: none;
        }
      }
  



  
    }
  
  }
  
  