@import "../global/variables";

#not-found{
    text-align: center;
    padding-top: 64px;
    h2{
        font-size: 36px;
        margin-bottom: 36px;
    }
    p{
        line-height: 24px;
        margin-bottom: 36px;
    }
    .continuation{
        margin-bottom: 64px;
    }
}