@import "../global/variables";

/* ===============================================
# お知らせ一覧
=============================================== */
#archive{

 .news{
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
  a{color:#000;}
 }

 .news--list--item{
  padding: 50px 0;
  border-bottom: solid 1px #979797;
  &:last-child{margin-bottom: 200px;}

  a{display: flex;}


    .text_block{
        padding-left: 50px;
    }


  .news_title{
   text-align: left;
   margin-bottom: 1rem;
  }
 }


 @media(max-width:660px){
     .news--list--item{
         .text_block{
             padding-left: 0;
         }

         a{
             flex-direction: column;
             gap: 32px;
             .image_block{
                 text-align: center;
             }
         }
     }
 }

}