@import "../global/variables";

/* ===============================================
# お知らせ一覧
=============================================== */
#archive{

 .news{
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  a{color:#000;}
 }

 .news--list--item{
  padding: 50px 0;
  border-bottom: solid 1px #979797;
  &:last-child{margin-bottom: 200px;}

  a{display: flex;}


    .text_block{
        padding-left: 50px;
    }


  .news_title{
   text-align: left;
   margin-bottom: 1rem;
  }
 }

 //* ページャーナビ
 .wp-pagenavi{
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  a{
      color:$tag-font;
    }
  a.first,
  a.last{
    display: none;
  }
 }

 .wp-pagenavi .pages{
  display: none;
 }

 .wp-pagenavi .current,
 .wp-pagenavi .larger,
 .nextpostslink,
 .wp-pagenavi .smaller,
 .previouspostslink{
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid $tag-font;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .wp-pagenavi .current{
  background: $tag-font;
  color: #fff;
 }
 .wp-pagenavi .larger:hover,
 .nextpostslink:hover,
 .wp-pagenavi .smaller:hover,
 .previouspostslink:hover{
  background: #E6EFF4;
 }

 @media(max-width:660px){
     .news--list--item{
         .text_block{
             padding-left: 0;
         }

         a{
             flex-direction: column;
             gap: 32px;
             .image_block{
                 text-align: center;
             }
         }
     }
     .continuations{
         display: none;
     }
 }

}