
@import "../global/variables";

.coder1{
    #page-company{
        #company-top{
          text-align: center;
          padding: 0 24px;
          margin-bottom: 80px;
          .inner{
            max-width: 764px;
            p{
              text-align: left;
              line-height: 32px;
              margin-bottom: 84px;
            }
            img{
              width: 100%;
    
            }
          }
        }
    
        #company-about{
          padding: 150px 0 80px;
          background: $tag-bg;
          .white-inner{
            padding-top: 48px;
            padding-bottom: 48px;
            & > dl{
              max-width: 450px;
              margin: 0 auto;
              line-height: 28px;
              & > div{
                display: flex;
                flex-wrap: wrap;
                & > dt{
                  width: 100px;
                }
              }
              .services{
                display: block;
                h3{
                  text-align: left;
                  color: $tag-font;
                  margin-bottom: 12px;
                }
                & > dd{
                  padding-top: 20px;
                  .service{
                    display: block;
                    max-width: 320px;
                    margin: 0 auto;
                    dl{
                      dd{
                        margin-bottom: 24px;
                      }
                      div{
                        dt{
                          width: 70px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        #company-staffs{
          background: $tag-bg;
          padding-bottom: 150px;
          .white-inner{
            padding-top: 48px;
            padding-bottom: 48px;
            h3{
              color: $tag-font;
              margin-bottom: 12px;
            }
            .chairman-message{
              margin-bottom: 72px;
              & > div{
                display: flex;
                gap: 30px;
                .chairman{
                  img{
                    margin-bottom: 12px;
                  }
                  h4{
                    text-align: center;
                    span{
                      font-size: 22px;
                      padding-left: 24px;
                    }
                  }
                }
                p{
                  line-height: 32px;
                }
              }
            }
            .organization{
              ul{
                padding-top: 24px;
                position: relative;
                max-width: 760px;
                margin: 0 auto;
                &::before{
                  position: absolute;
                  content: "";
                  height: calc(100% - 24px);
                  border-left: 1px solid $font;
                  left: 16px;
                }
                li{
                  .text{
                    border: 1px solid $tag-font;
                    padding: 16px;
                    border-radius: 12px;
                    line-height: 24px;
                    background: #fff;
                    margin-bottom: 24px;
                    
                    h4{
                      font-size: 20px;
                      margin-bottom: 12px;
                      br{
                        display: none;
                      }
                    }
                  }
                }
                li:not(.board){
                  .text{
                    width: calc(100% - 32px - 36px);
                    margin-left: auto;
                  }
                  & > :first-child{
                    position: relative;
                    &::before{
                      position: absolute;
                      content: "";
                      width: 18px;
                      border-bottom: 1px solid $font;
                      top: 24px;
                      left: -19px;
                    }
                  }
                  & > :nth-child(2){
                    position: relative;
                    &::before{
                      position: absolute;
                      content: "";
                      height: 24px;
                      border-left: 1px solid $font;
                      top: -25px;
                      left: 24px;
                    }
                  }
                }
                li:last-child{
                  position: relative;
                  &::before{
                    position: absolute;
                    content: "";
                    top: 25px;
                    left: 16px;
                    height: 100%;
                    border-left: 1px solid #fff;
                  }
                }
                .board{
                  display: flex;
                  gap: 24px;
                  & > :first-child{
                    position: relative;
                    &::after{
                      content: "";
                      position: absolute;
                      width: 24px;
                      border-bottom: 1px solid $font;
                      right: -25px;
                      top: 42px;
                    }
                  }
                }
              }
            }
          }
        }
        .continuation{
          margin: 80px auto;
        }


        @media (max-width:660px){

            #company-about{
                .white-inner{
                & > dl{
                    & > div{
                    flex-direction: column;
                    margin-bottom: 16px;
                    }
                    .services{
                    padding-top: 20px;
                    & > dd{
                        padding-top: none;
                    }
                    .service{
                        h3{
                        font-size: 16px;
                        }
                    }
                    }
                }
                }
            }
            #company-staffs{
              .white-inner{
                .chairman-message{
                text-align: center;
                h3{
                    margin-bottom: 36px;
                }
                & > div{
                    flex-direction: column;
                    p{
                    text-align: left;
                    }
                }
                }
                .organization{
                  ul{
                    li{
                      .text{
                        h4{
                          br{
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

        }
    }

}