@import "../global/variables";

.coder1{
    #page-journal{
        .ecclesia{
            padding: 0 24px;
            margin: 0 auto;
            max-width: 1028px;
            .continuation{
                margin-bottom: 84px;
            }
        }
    }
}